html, body {
    margin: 0;
    padding: 0;
}

a {
    color: #FFF;
}

#main {
    margin: 10px 100px 20px 200px;
    max-width: 1000px;
}

body {
    position: relative;
    color: #FFF;
    background-color: #333;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAADklEQVQIW2NgQAXGZHAAGioAza6+Hk0AAAAASUVORK5CYII=");
}

#sidebar {
    position: fixed;
    top: 30%;
    left: 10px;
    width: 100px;
}

#sidebar div {
    margin: 10px 0 0 10px;
}

#sidebar h1 {
    font-size: 20px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar a {
    color: #FFF;
    text-decoration: none;
}

#sidebar li:hover,#sidebar h1:hover {
    background-color: #999;
}

#sidebar li:hover {
    font-size: 110%;
}

footer {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.tableSelect-default {
    -moz-user-select: none;
}

.tableSelect-default tbody > tr.selected > td {
    background: grey;
}

td.hidden, th.hidden {
    display: none;
}
label {
    position: relative;
    width: 300px;
    display: block;
    margin-bottom: 10px;
}

label input {
    position: absolute;
    right: 0;
}

input {
    color: #000;
}


#container {
    margin: 10px;
}

.hide {
    display: none;

}

input.no-radius,button.no-radius {
    border-radius:0;
}

.unstyled {
    list-style: none;
}
