#wrapper {
  padding-left: 250px;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 150px;
  background: #000;
  position: fixed;
  height: 100%;
  z-index: 1000;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tableSelect-default {
    -moz-user-select: none;
}

.tableSelect-default tbody > tr.selected > td {
    background: grey;
}
