<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>

		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
</body>
</html>

