<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<style>
.error {
    color: red;
}
a.catRec {

}
</style>
    {{#if patients}}
    There are {{patients.length}} patients.
    <ul>
    {{#patients}}
        <li>{{first}} {{last}}</li>
    {{/patients}}
    </ul>
    {{else}}
    No patients to display.
    {{/if}}
</body>
</html>
