<!DOCTYPE html>
<head>
</head>
<body>
<style>
.error {
    color: red;
}
a.catRec {

}
</style>
<input id="cat"></input>
<button id="add">Add</button>
<button id="del">Delete</button>
<button id="refresh">Refresh</button>
<div data-bind="text: data"></div>
<div class="error" data-bind="text: error"></div>
<div class="response" data-bind="text: response"></div>
<ul class="items" data-bind="foreach: items">
   <li><a class="catRec" data-bind="attr: { 'data-id': _id }"><span data-bind="text: cat"></span></a></li>
</ul></a>

<script src="/js/jquery.js"></script>
<script src="/js/knockout.js"></script>
<script type="text/javascript">
var poll = {
    data : ko.observable("345"),
    testLoad : function() {
        this.data("test");
    },
    response : ko.observable(),
    addCat : function(txt){
        var self = this;
        $.ajax({
            data: {cat:txt},
           	type: 'POST',
            url: "/knockout/save",
            }).done(function(data,status,xhr) {
                self.response(data.txt);
                self.load();
            }).fail(function(xhr,status,err){
                self.error(err);
            })
        },
    error : ko.observable(""),
    items: ko.observableArray([]),
    load : function() {
        var self = this;        
        $.ajax({
        data: {limit:10},
       	type: 'GET',
       	contentType: "application/json; charset=utf-8",
        url: "/knockout/load",
        }).done(function(data,status,xhr) {
            self.items(data);
        }).fail(function(xhr,status,err){
            self.error(err);
        })
        },
    del : function(catId) {
        var self = this;
        $.ajax({
        data: {'id':catId},
       	type: 'POST',
        url: "/knockout/del",
        }).done(function(data,status,xhr) {
            self.response(data.txt);
            self.load();
        }).fail(function(xhr,status,err){
            self.error(err);
        })
    }
    };
$(function() {
    ko.applyBindings(poll);
    poll.testLoad();
    poll.load();
    $("#add").on("click",function(e){
        poll.addCat($("#cat").val());
    });
    $("#del").on("click",function(e){
        poll.del();
    });
    $("#refresh").on("click",function(e){
        poll.load();
    });
    $("ul.items").on("click","a",function(e){
        poll.del($(this).data("id"));
    });
});
</script>

</body>
</html>
