<!DOCTYPE html>
<head>
</head>
<body>
<style>
.error {
    color: red;
}
</style>
<input id="cat"></input>
<button id="add">Add</button>
<div data-bind="text: data"></div>
<div class="error" data-bind="text: error"></div>

<script src="/js/jquery.js"></script>
<script src="/js/knockout.js"></script>
<script type="text/javascript">
var poll = {
    data : ko.observable("345"),
    testLoad : function() {
        this.data("test");
    },
    error : ko.observable(""),
    load : function() {
        var self = this;
        $.ajax({
        data: {x:1},
       	type: 'GET',
        dataType: 'json',
        url: "/knockout/load",
        }).done(function(data,status,xhr) {
            //console.log(data);
            self.data(data);
        }).fail(function(xhr,status,err){
            self.error(err);
        })
        }
    };
$(function() {
    ko.applyBindings(poll);
    poll.testLoad();
    $("#add").bind("click",function(el,ix){
        poll.load();
    });
});
</script>

</body>
</html>
