<!DOCTYPE html>
<head>
</head>
<body>

<input id="cat"></input>
<button id="add">Add</button>
<div data-bind="text: data"></div>

<script src="/js/jquery.js"></script>
<script src="/js/knockout.js"></script>
<script type="text/javascript">
var poll = {
    data : ko.observable("345"),
    testLoad : function() {
        this.data("test");
    },
    load : function() {
        $.ajax({
       	type: 'GET',
        dataType: 'json',
        url: "",
        }).done(function(data,status,xhr) {
            this.data = data;
            console.log(data);
        }).fail(function(xhr,status,err){
            console.log("error");
            console.log(status);
            console.log(err);
        })
        }
    };
$(function() {
    ko.applyBindings(poll);
    console.log(poll);
    poll.testLoad();
});
</script>

<script>
$(function(){
    $(".add").bind("click",function(el){
        console.log(el);
       /* );
       $.ajax({
       	type: 'POST',
        dataType: 'json',
        url: "",
        data: "{}"
        }).done(function(data,status,xhr) {
            console.log("success");
            console.log(data);
        }).fail(function(xhr,status,err){
            console.log("error");
            console.log(status);
            console.log(err);
        });*/
    });
});
</script>

</body>
</html>
