<!DOCTYPE html>
<head>
</head>
<body>

{{greeting}}
<button id="add">Add</button>

<table>
    <thead>
        <tr><th>Ice Cream Flavor</th><th># Votes</th></tr>
    </thead>
    <tbody data-bind="foreach: iceCreamFlavors">
        <tr>
            <td data-bind="text: label"></td>
            <td data-bind="text: voteCount"></td>
        </tr>
    </tbody>
</table>

<script src="/js/jquery.js"></script>
<script src="/js/knockout.js"></script>
<script type="text/javascript">
    ko.applyBindings({
        iceCreamFlavors : [
            {label: 'Rocky Road', voteCount: 0},
            {label: 'Vanila', voteCount: 1}
        ]
    });
</script>

<script>
$(function(){
    $("#add").bind("click",function(el){
       $.ajax({
       	type: 'POST',
        dataType: 'json',
        url: "",
        data: ""
        }).done(function(data,status,xhr) {
            console.log("success");
            console.log(data);
        }).fail(function(xhr,status,err){
            console.log("error");
            console.log(status);
            console.log(err);
        });
    });
});
</script>

</body>
</html>
