<!DOCTYPE html>
<head>
</head>
<body>
<style>
.error {
    color: red;
}
</style>
<input id="cat"></input>
<button id="add">Add</button>
<div data-bind="text: data"></div>
<div class="error" data-bind="text: error"></div>
<div class="response" data-bind="text: response"></div>

<script src="/js/jquery.js"></script>
<script src="/js/knockout.js"></script>
<script type="text/javascript">
var poll = {
    data : ko.observable("345"),
    testLoad : function() {
        this.data("test");
    },
    response : ko.observable(),
    addCat : function(txt){
        var self = this;
        $.ajax({
            data: {cat:txt},
           	type: 'POST',
            url: "/knockout/save",
            }).done(function(data,status,xhr) {
                self.response(data.txt);
            }).fail(function(xhr,status,err){
                self.error(err);
            })
        },
    error : ko.observable(""),
    load : function() {
        var self = this;
        $.ajax({
        data: {x:1},
       	type: 'GET',
       	contentType: "application/json; charset=utf-8",
        url: "/knockout/load",
        }).done(function(data,status,xhr) {
            self.data(data.x);
        }).fail(function(xhr,status,err){
            self.error(err);
        })
        }
    };
$(function() {
    ko.applyBindings(poll);
    poll.testLoad();
    poll.load();
    $("#add").bind("click",function(el,ix){
        poll.addCat($("#cat").val());
    });
});
</script>

</body>
</html>
