<!DOCTYPE html>
<html ng-app="payroll">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
    <title>Payroll</title>
</head>


<body>

<div id="container">
    <div ng-controller="PayrollCtrl">
        <table class="table-basic">
            <thead>
            <tr>
            <th>Name</th><th>Hourly Rate</th><th>Pay Type</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="e in employees">
            <td>{{e.name}}</td><td>{{e.hourly}}</td><td>{{e.paytype}}</td>
            </tr>
            </tbody>
        </table>
        <div ng-repeat="e in employees">
        <tr ng-repeat="(key, value) in data">
          <td> {{key}} </td> <td> {{ value }} </td>
        </tr>
        <h1>{{e.name}}</h1>
        <ul class="unstyled">
            <li>Payrate (hourly): {{e.hourly}}</li>
        </ul>
        </div>
        <ul>
            <li ng-repeat="e in employees">
                {{e.name}}
            </li>
        
        </ul>

    </div>

<!-- container-->
</div>


<script src="/js/angular.js"></script>
<script src="arman.js"></script>

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="payroll.css">
</body>
