<!DOCTYPE html>
<html ng-app="payroll">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
    <title>Payroll</title>
</head>

<body>

<div id="container">
    <div ng-controller="PayrollCtrl">
        <h1>About</h1>
        <p>Work in progress. Simple accounts payable application using AngularJs.</p>
        <h1>Todo</h1>
        <ul>
        <li>Add a pie chart to break down expenses for each employee role and paytype.</li>
        </ul>
        <h1>Employee Table</h1>
        <table class="table-basic">
            <thead>
            <tr>
            <th>Name</th><th>Hourly Rate</th><th>Paytype</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="e in employees">
            <td>{{e.name}}</td><td>{{e.hourly}}</td><td>{{e.paytype}}</td>
            </tr>
            </tbody>
        </table>
        <h1>Payable per Hour</h1>
        <table class="table-basic">
        <thead>
        <tr>
        <th ng-repeat="h in totals.headers">{{h}}</th><th>Total</th>
        </tr>
        <tbody>
        <tr>
        <td ng-repeat="v in totals.values">{{v}}</td><td>{{totals.total}}</td>
        </tr>
        </tbody>
        </thead>
        </table>
        <h1>Add Employee</h1>
        <table>
            <thead>
            <tr>
            <th>Name</th><th>Hourly Rate</th><th>Paytype</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <td><input ng-model="name" ng-required="true"></td>
                <td><input ng-model="hourly" ng-required="true"></td>
                <td><input ng-model="paytype" list="paytypelist" ng-required="true"></td>
                <td>
                <button ng-click="addEmployee()">Add</button></td>
                </td>
                <td>
                <button ng-click="refresh()">Refresh</button>
                </td>
                <td>
                <button ng-click="clearAll()">Clear</button>
                </td>
                </tr>
            </tbody>
        </table>
        
        
        <h1>My Finances</h1>
            Gross Monthly : {{finance.gross}} <br/>
            Net Monthly : {{finance.net()}}
        
        <h1>Paytypes</h1>
        <ul>
        <li ng-repeat="p in paytypes">{{p}}</li>
        </ul>
<div id="datalists">
    <datalist id="paytypelist">
        <option ng-repeat="p in paytypes" value={{p}}>
    </datalist>
</div>

    <!-- ng -->
    </div>

<!-- container-->
</div>
<script src="/js/jquery.js"></script>
<script src="/js/angular.js"></script>
<script src="arman.js"></script>

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="payroll.css">
</body>
