<!DOCTYPE html>
<html ng-app="payroll">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
    <title>Payroll</title>
</head>

<body>

<div id="container">
    <div ng-controller="PayrollCtrl">
        <h1>Employee Table</h1>
        <table class="table-basic">
            <thead>
            <tr>
            <th>Name</th><th>Hourly Rate</th><th>Pay Type</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="e in employees">
            <td>{{e.name}}</td><td>{{e.hourly}}</td><td>{{e.paytype}}</td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
            <th>Name</th><th>Hourly Rate</th><th>Paytype</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <td><input ng-model="name"></td>
                <td><input ng-model="hourly"></td>
                <td><input ng-model="paytype" list="paytypelist"></td>
                <td>
                <button ng-click="addEmployee()">Add</button></td>
                </td>
                <td>
                <button ng-click="refresh()">Refresh</button>
                </td>
                <td>
                <button ng-click="clearAll()">Clear</button>
                </td>
                </tr>
            </tbody>
        </table>
        
        
        <h1>My Finances</h1>
        {{finance.gross}} <button id="add">Add</button>
        
        <h1>Paytypes</h1>
        <ul>
        <li ng-repeat="p in paytypes">{{p}}</li>
        </ul>
<div id="datalists">
    <datalist id="paytypelist">
        <option ng-repeat="p in paytypes" value={{p}}>
    </datalist>
</div>

    <!-- ng -->
    </div>

<!-- container-->
</div>
<script src="js/jquery.js"></script>
<script src="/js/angular.js"></script>
<script src="arman.js"></script>

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="payroll.css">
</body>
